In [2]:
import pandas as pd
df2 = pd.read_csv('nfl_elo_latest.csv')
df2.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
0,2019-09-05,2019,0,NaN,CHI,GB,1588.897931,1455.131370,0.758449,0.241551,...,0.640182,0.359818,-36.627083,74.729307,153.799734,179.824881,1532.560287,1547.089310,3.0,10.0
1,2019-09-08,2019,0,NaN,CAR,LAR,1519.378772,1598.015666,0.480385,0.519615,...,0.475030,0.524970,49.375757,64.164228,164.522141,145.308064,1500.520997,1603.294491,27.0,30.0
2,2019-09-08,2019,0,NaN,NYJ,BUF,1384.966442,1448.423682,0.502220,0.497780,...,0.546114,0.453886,112.062742,182.005072,115.142247,154.106960,1443.908065,1470.357039,16.0,17.0
3,2019-09-08,2019,0,NaN,PHI,WSH,1581.513559,1441.021792,0.765470,0.234530,...,0.774390,0.225610,355.544272,364.289006,200.712701,161.730621,1590.600395,1416.269194,32.0,27.0
4,2019-09-08,2019,0,NaN,JAX,KC,1455.249073,1602.077427,0.384370,0.615630,...,0.415645,0.584355,88.354740,433.187480,163.488868,242.949378,1461.728341,1629.568396,26.0,40.0

In [3]:
df2.shape

(267, 30)